---
Language:        Cpp
BasedOnStyle:  Google

AccessModifierOffset: -2
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
IndentWidth:     2
PPIndentWidth: 0
TabWidth: 4
AlignAfterOpenBracket: DontAlign
