# SPDX-FileCopyrightText: Copyright (c) 2022-2025 Yegor Bugayenko
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: local
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  local:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - run: sudo make install
      - run: make env
      - run: make -e FAST=1 INPUT=7
