name: make
on:
  push:
    branches:
      - master
    paths-ignore: [ 'README.md', 'LICENSE.txt' ]
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: self-hosted
    env:
      ImageOS: ubuntu18
    steps:
      - run: sudo apt-get update -y
      - run: sudo apt-get install -y build-essential curl wget git-core zlib1g zlib1g-dev libssl-dev libyaml-dev libxml2-dev autoconf libc6-dev ncurses-dev automake libtool
      - run: sudo mkdir -p /opt/hostedtoolcache && sudo chown $(whoami) /opt/hostedtoolcache
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6
          bundler-cache: false
      - run: gem install xcop
      - run: | 
          sudo mkdir -p /usr/local/opt
          sudo wget --no-verbose -O /usr/local/opt/Saxon.jar https://repo.maven.apache.org/maven2/net/sf/saxon/Saxon-HE/9.8.0-5/Saxon-HE-9.8.0-5.jar
      - run: sudo apt-get update -y
      - run: sudo apt-get install -y lsb-release
      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: actions/setup-go@v2
        with:
          go-version: '1.16.1'
      - run: rm -rf ~/.graalvm
      - uses: graalvm/setup-graalvm@v1
        with:
          version: '22.0.0.2'
          java-version: '11'
          components: 'native-image'
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - run: sudo apt-get install -y snapd
      - run: sudo snap install powershell --classic
      - uses: egor-tensin/setup-clang@v1
        with:
          version: 13
      - run: sudo apt-get install -y clang-tidy-13 clang-format-13
      - run: |
          for f in clang++ clang-tidy clang-format; do
            if [ -e /usr/bin/${f} ]; then sudo unlink /usr/bin/${f}; fi
            sudo ln -s /usr/bin/${f}-13 /usr/bin/${f}
          done
      - run: |
          sudo add-apt-repository ppa:eiffelstudio-team/ppa 
          sudo apt-get -y update 
          sudo apt-get install -y eiffelstudio
      - run: sudo apt-get install -y gnat
      - run: pip install cpplint
      - run: sudo apt-get install -y jq
      - run: sudo apt-get install -y cppcheck
      - run: sudo apt-get install -y bc
      - run: sudo apt-get install -y ghc
      - run: sudo apt-get install -y sbcl
      - run: sudo apt-get install -y fpc
      - run: |
          if [ ! -e /usr/bin/perf ]; then
            sudo apt-get install -y linux-tools-generic
            sudo ln -s "$(ls /usr/lib/linux-tools/*/perf | head -1)" /usr/bin/perf
          fi
      - uses: actions/checkout@v3
      - run: if [ ! -e .git ]; then exit 1; fi
      - run: make env
      - run: make clean
      - run: mkdir www
      - run: make WANTED=256 INPUT=7 index.html
      - run: mv index.html www/seven.html
      - run: rm -rf reports
      - run: make WANTED=256 INPUT=16 index.html
      - run: mv index.html www/sixteen.html
      - run: rm -rf reports
      - run: make WANTED=256 index.html
      - run: cp index.html www
      - run: cp index.xml www
      - run: cp -r reports www
      - run: cp -r asm www
      - uses: JamesIves/github-pages-deploy-action@v4.2.5
        with:
          branch: gh-pages
          folder: www
          clean: false
