name: quick make
on:
  pull_request:
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6
          bundler-cache: true
      - run: gem install xcop
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - uses: actions/setup-go@v3
      - uses: graalvm/setup-graalvm@v1
        with:
          version: '22.0.0.2'
          java-version: '11'
          components: 'native-image'
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: egor-tensin/setup-clang@v1
        with:
          version: 13
      - run: sudo apt-get install -y clang-tidy-13 clang-format-13
      - run: |
          for f in clang++ clang-tidy clang-format; do
            if [ -e /usr/bin/${f} ]; then sudo unlink /usr/bin/${f}; fi
            sudo ln -s /usr/bin/${f}-13 /usr/bin/${f}
          done
      - run: |
          sudo add-apt-repository ppa:eiffelstudio-team/ppa 
          sudo apt-get update 
          sudo apt-get install eiffelstudio
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - run: sudo apt-get install -y gnat
      - run: pip install cpplint
      - run: sudo apt-get install -y jq
      - run: sudo apt-get install -y cppcheck
      - run: sudo apt-get install -y bc
      - run: sudo apt-get install -y ghc
      - run: sudo apt-get install -y sbcl
      - run: sudo apt-get install -y fpc
      - uses: actions/checkout@v3
      - run: make env
      - run: make sa
      - run: sudo make FAST=1 INPUT=7
