# SPDX-FileCopyrightText: Copyright (c) 2022-2025 Yegor Bugayenko
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: quick
'on':
  pull_request:
    branches:
      - master
jobs:
  start-instance:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    outputs:
      label: ${{ steps.start.outputs.label }}
      ec2-instance-id: ${{ steps.start.outputs.ec2-instance-id }}
    steps:
      - uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.AWS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET }}
          aws-region: us-east-1
      - id: start
        uses: machulav/ec2-github-runner@v2
        with:
          mode: start
          github-token: ${{ secrets.GH_PAT }}
          ec2-image-id: ${{ secrets.AWS_AMI }}
          ec2-instance-type: t2.medium
          subnet-id: ${{ secrets.AWS_SUBNET }}
          security-group-id: ${{ secrets.AWS_SGROUP }}
  make:
    needs: start-instance
    runs-on: ${{ needs.start-instance.outputs.label }}
    steps:
      - uses: actions/checkout@v6
      - run: sudo make install
      - run: make env
      - run: make -e FAST=1 INPUT=7
  terminate-instance:
    needs:
      - start-instance
      - make
    runs-on: ubuntu-24.04
    if: ${{ always() }}
    steps:
      - uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.AWS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET }}
          aws-region: us-east-1
      - uses: machulav/ec2-github-runner@v2
        with:
          mode: stop
          github-token: ${{ secrets.GH_PAT }}
          label: ${{ needs.start-instance.outputs.label }}
          ec2-instance-id: ${{ needs.start-instance.outputs.ec2-instance-id }}
